<div class="cart">
    <h1 class="title is-2">Your Shopping Cart</h1>

    {{#if cartItems.length}}
      <div class="cart-items">
        {{#each cartItems}}
          <div class="cart-item">
            <div class="item-details">
              <h2>{{this.design}}</h2>
              <p>Size: {{this.size}}</p>
              <p>Price: ${{this.price}}</p>
              <p>Quantity: {{this.quantity}}</p>
              <form>
              <input type="hidden" id="cartitem_id{{this.id}}" value={{this.id}} />
              <button class="remove-btn button is-danger is-dark" type="button" data-id="{{this.id}}">Delete</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>

      <div class="cart-summary">
        <p>Subtotal: ${{subtotal}}</p>
        <h3>Total: ${{total}}</h3>
        <form class="checkoutForm">
        <button  class="button is-info is-light" type="button"><a href="/checkout/{{total}}">Checkout</a></button>
        
    </form>
      </div>
    {{else}}
      <div class="empty-cart">
        <p>Your cart is empty!</p>
      </div>
    {{/if}}
    <a href="/">Continue shopping...</a>
</div>

  <script src="/js/delFromCart.js"></script>

