{{!-- El contenido de esta vista será insertado en el lugar de {{{body}}} en el layout principal --}}
<div class="container">
    <div>
        <img src="{{singleItem.image_loc}}" style="height: 300px; width: 300px" />
    </div>

    <h2>{{singleItem.designName}}</h2>
    <h3>{{singleItem.type}}</h3>
    <h3>{{singleItem.color}}</h3>
    <h3>$ {{singleItem.price}}</h3>

    <form>
        <div>
            <label for="qty-input">Quantity: </label>
            <input type="text" id="qty-input">
        </div>
        <div>
            <label for="size-input">Size: </label>
            <select id="size-input">
                <option value = -1>----------</option>
                {{#each singleItem.sizes as |size|}}
                <option value={{size.value}}>{{size.size_name}}</option>
                {{/each}}
            </select>
        </div>
    </form>

</div>

{{#if isAdmin}}
<a href="/update/{{singleItem.id}}"><button>Update This Item</button></a>
{{/if}}