{{!-- El contenido de esta vista será insertado en el lugar de {{{body}}} en el layout principal --}}
<div class="container">
    <h2>{{article.title}}</h2>
    <p><strong>By:</strong> {{article.author}}</p>
    <p><strong>Published on:</strong> {{article.date_created}}</p>
    <div class="article-content">
        <p>{{article.content}}</p>
    </div>
    <a href="/">Back to homepage</a>
</div>